body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
}

.top-bar {
    background-color: #f7f7f7;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    gap: 1vw;
    /* margin-left: 18vw; */
}

.top-bar-left {
    display: flex;
    gap: 1vw;
    margin-left: 18vw;
    border-right: 1px solid #000;

}

.top-bar-right {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 22vw;
}

.top-bar a {
    color: #333;
    text-decoration: none;
}

/* Adjustments for accessibility and language */
.accessibility,
.language {
    display: flex;
    gap: 10px;
    /* margin-right: 5vw; */
}

.logo-container {
    display: flex;
    align-items: center;
    /* padding: 1vw; */
    /* background-color: #3a1054; */
    color: white;
    text-align: center;
    /* background-color: red; */
    margin-left: 17vw;
}


.logo-container h1,h2{
   color: #333;
   font-weight: 100;
   font-size: 1.4vw;
}
.logo-container span{
  margin-right: 3vw;
}

.logo-container img {
    height: 5vw;
    margin-right: 20px;
}

nav {
    background-color: #4D305C;
    padding: 1.5vw 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1.5vw;
}

nav ul li {
    display: inline;
    position: relative ;
}

nav ul li::after {
    content: "|";  
    color: #b9b3b3; 
    position: absolute;
    right: -10px; 
}

nav ul li:last-child::after {
    content: "";  
}



nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: .8vw;
}


.nav-elem{
    /* background-color: red; */
    margin-right: 7vw;
}

nav .icon{
    color: white;
 
}
.nav-img-container {
    position: absolute;
    top: 2vw;  
    left: 50%;
    transform: translateX(-50%);
    background-color: #4D305C;
    border: 3px solid #fff;
    border-radius: 50%;  
    padding: 0.5vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav-img {
    height: 5vw; 
    width: 5vw;  
    border-radius: 50%;  
}






.hero {
    /* background-color: blue; */
    text-align: center;
}

.hero-image img {
    width: 42%;
    height: auto;
    margin-right: 90vw;
}

.hero-content {
    padding-top: 20px;
    /* background-color: red; */
    
}

.hero h1 {
    font-size: 3em;
    color: #b02927;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 1.5em;
    color: #333;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #5a5a5a;
}

.cards {
    display: flex;
    /* background-color: yellow; */
    /* justify-content: center; */
    gap: 20px;
   
  
 
   
}

.card {
    width: 220px;
    text-align: center;

}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.virtual-tour {
    font-size: 1.2em;
    color: #b02927;
    text-decoration: none;
    border-bottom: 2px solid #b02927;
    padding-bottom: 2px;
}

.virtual-tour:hover {
    color: #333;
    border-bottom-color: #333;
}

footer {
    background-color: #f7f7f7;
    padding: 20px 0;
    text-align: center;
}

.footer-links a {
    color: #333;
    margin: 0 15px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
